include COPYING
include README
include bin/pywo
recursive-include pywo *.py
recursive-include pywo actions/*.py
exclude pywo/actions/experimental_actions.py
recursive-include pywo services/*.py
include etc/pyworc
recursive-include etc/layouts *

